.fluid-holder {
	display: table;
}

.fluid-holder .cell {
	display: table-cell;
	vertical-align: top;
}

.admin-menu {
	min-width: 160px;
}

.admin-nav ul li ul li {
	padding-left: 10px;
}

.admin-nav ul li ul li a {
	font-size: 12px;
}

.admin-content {
	width: 100%;
}

.admin-controls {
	float: right;
}

.admin-content h1 {
	font-size: 26px;
	margin-bottom: 10px;
}

.admin-content .pages-list {
	padding-left: 20px;
}

.admin-content .pages-list a {
	display: inline-block;
	padding: 3px 5px;
}

.admin-content .pages-list a:hover {
	color: #6495ed;
}

.form-error {
	color: #ff0000;
}

.form-error + .form-field {
	border: 1px solid #ff0000;
	padding: 5px;
}