.clients-holder {
	width: 750px;
	margin: 10px auto;
}

.client {
	text-align: center;
	display: block;
	float: left;
	height: 150px;
	width: 250px;
	margin-bottom: 5px;
}

.client .logo-holder {
	min-height: 90px;
	vertical-align: middle;
}

.client img {
	max-width: 200px;
}

.client h1 {
	font-weight: normal;
	font-size: 18px;
}