.tabbed-form {
	position: relative;
}

.tabbed-form .tab {
	display: none;
	position: relative;
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff;
}

.tabbed-form .tab_title {
	display: inline-block;
	padding: 10px 5px;
	border: 1px solid #ccc;
	margin-bottom: -2px;
}

.tabbed-form .tab_title:hover {
	cursor: pointer;
}

.tabbed-form.sr .tab_title.sr {
	font-weight: bold;
}

.tabbed-form.en .tab_title.en {
	font-weight: bold;
}

.tabbed-form.sr .sr_tab {
	display: block;
}
.tabbed-form.en .en_tab {
	display: block;
}

.form-error {
	padding: 5px 0;
	margin-bottom: -10px;
	color: #ff0000;
}

.form-error + .form-field {
	border: 1px solid #ff0000;
	padding: 5px;
}